---
layout: post-index
title: Gallery
comments: false
gallery:
- path: /images/slideshow/slide1.jpg
  thumbnail: /images/slideshow/slide1.jpg
- path: /images/slideshow/slide3.jpg
  thumbnail: /images/slideshow/slide3.jpg
---

<div class="gallery">
{% for image in page.gallery %}
  <figure>
    <a href="{{ image.path }}" data-featherlight="image"><img src="{{ image.thumbnail }}"></a>
    {% if image.caption %}
      <figcaption>{{ image.caption }}</figcaption>
    {% endif %}
  </figure>
{% endfor %}
</div>
